.button {
  width: 100%;
  font-size: 25px;
  padding: 15px 35px;
  border-radius: 8px;
  outline: none;
  border: none;
  transition: all 150ms ease-out;
  cursor: pointer;

  &.blue {
    background-color: #013cc6;
    color: #fff;
  }

  &.green {
    background-color: #0cd80c;
    color: #fff;
  }

  &.red {
    background-color: red;
    color: #fff;
  }

  &:hover {
    scale: 1.05;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
